@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
:root {
    --Black: #1e1e1e;
    --LightBlack: #676767;
    --Green: #00d19b;
    --LightWhite: #fefcfc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--LightWhite);
}

.main-container {
    width: 70%;
    height: auto;
    padding: 30px 0px;
    margin: auto;
}

.product-container {
    display: inline-flex;
}

.product-image-container {
    max-width: 50%;
    display: inline-grid;
}

.product-main-image {
    position: relative;
}

.product-main-image img {
    width: 100%;
    height: 100%;
}

.image-controls {
    width: 100%;
    display: inline-flex;
    position: absolute;
    justify-content: space-between;
    z-index: 10;
    margin: 35% auto;
}

.image-controls button {
    margin: 0px 10px;
    padding: 10px 13px;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: white;
    color: var(--Black);
    cursor: pointer;
}

.product-image-list {
    margin-top: 5px;
    display: inline-flex;
    overflow-x: scroll;
}

.product-image-list::-webkit-scrollbar {
    display: none;
}

.product-image-list {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.product-image-list img {
    width: 90px;
    height: 80px;
    margin-right: 10px;
}

.product-info-container {
    width: 50%;
    padding: 50px;
    color: var(--LightBlack);
}

.product-title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 900;
    color: var(--Black);
}

.product-seller {
    font-weight: 600;
    font-size: 12px;
    margin: 10px 0px;
}

.product-description {
    font-weight: 400;
    font-size: 12px;
    margin: 20px 0px;
}

.rating {
    margin: 10px 0px;
    font-size: 12px;
}

.rating i, .rating-count span {
    color: var(--Green);
    margin: 10px 0px;
}

.product-rate {
    font-size: 25px;
    font-weight: 500;
    color: var(--Black);
}

.actions {
    margin: 20px 0px;
}

.actions button {
    margin: 5px 0px;
    padding: 10px 20px;
    cursor: pointer;
    width: 150px;
    outline: none;
}

.actions .add-to-cart {
    background-color: var(--Black);
    color: var(--LightWhite);
    border: 1px solid var(--Black);
}

.actions .add-to-wishlist {
    border: 1px solid var(--LightBlack);
    background-color: var(--LightWhite);
    color: var(--Black);
}

.features {
    width: 100%;
    margin-top: 30px;
    display: inline-flex;
    justify-content: space-between;
    bottom: 0;
}

.features .card {
    flex: 1;
    display: inline-flex;
    margin: 10px;
}

.features .card-text {
    margin: auto 20px;
    width: 200px;
}

.card-text h5 {
    font-weight: 400;
    font-size: 14px;
    color: var(--Black);
}

.card-text p {
    font-weight: 300;
    color: var(--LightBlack);
    font-size: 12px;
}

@media only screen and (max-width: 1060px) {
    .main-container {
        width: 90%;
    }
    .product-container {
        display: block;
    }
    .product-image-container {
        max-width: 100%;
    }
    .product-image-list img {
        margin-right: 10px;
    }
    .product-info-container {
        width: 100%;
        padding: 40px 0px;
        color: var(--LightBlack);
    }
    .rating, .product-rate {
        text-align: center;
        margin: 40px 0px;
    }
    .rating i, .rating-count span {
        font-size: 14px;
        letter-spacing: 2px;
    }
    .actions button {
        margin: 5px 0px;
        padding: 10px 20px;
        cursor: pointer;
        width: 100%;
        outline: none;
    }
    .features {
        width: 100%;
        margin: 0px 0px 60px 0px;
        position: relative;
        display: block;
    }
    .features .card-text {
        margin: auto 20px;
        width: 100%;
    }
}